#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.banner .body {
  background: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
  height: 100%;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .swiper {
  width: 240px;
  height: 320px;
}

.banner .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.banner .swiper-slide:nth-child(1n) {
  background-image: url('src/assets/banner-books/book2.jpeg');
}

.banner .swiper-slide:nth-child(2n) {
    background-image: url('src/assets/banner-books/book3.jpg');
}

.banner .swiper-slide:nth-child(3n) {
    background-image: url('src/assets/banner-books/book4.jpeg');
}

.banner .swiper-slide:nth-child(4n) {
    background-image: url('src/assets/banner-books/book5.jpeg');
}

.banner .swiper-slide:nth-child(5n) {
    background-image: url('src/assets/banner-books/book6.jpeg');
}

.banner .swiper-slide:nth-child(6n) {
    background-image: url('src/assets/banner-books/book7.jpeg');
}

.banner .swiper-slide:nth-child(7n) {
    background-image: url('src/assets/banner-books/book8.jpeg');
}

.banner .swiper-slide:nth-child(8n) {
    background-image: url('src/assets/banner-books/book9.jpeg');
}

